.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.travel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.filler{
  height: 50px;
  width: 100%;
}