* {
  
}
.login {
  height: 100vh;
 display: flex; 
 justify-content: center;
 align-items: center;
}
.logo {
  /* margin-top: 40px; */
  text-decoration: underline;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 1000;
  font-size: 40px;
}
.login-container {
  display: flex;
  width: 350px;
  flex-direction: column;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid gray;
  padding: 20px;
}
.login-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.registerButton {
  margin-top: 20px;
}
.buttons {
  display: flex;
  flex-direction: column;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.alertBox {
  position: absolute;
  top: 90%;
  width: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.forgotLink{
  color: blue;
  cursor: pointer;
}
.forgotLink:hover{
  text-decoration: underline;
  
}