.places {
  display: flex;
  background-color: #f5f5f5;
  padding: 20px;
  flex-wrap: wrap;
}
.header{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.search{
  position: absolute;
  right: 500px;
}
.sortMenu {
  /* padding-right: 20px;
  margin-right: 20px; */
  position: absolute;
  left: 100px;
}


.cards {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

.placeCards {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #f5f5f5;
  padding: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}