.defaultUserIcon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f5f5f5;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.defaultUserIcon:hover {
  -webkit-filter: brightness(70%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
