.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin: 10%;
    height: 100vh;
  }
  .login-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .login-container {
    display: flex;
    width: 300px;
    height: fit-content;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 20px;
  }
  .login-container > h1 {
    font-weight: 500;
    margin-bottom: 20px;
  }
  .login-container > form > h5 {
    margin-bottom: 5px;
  }
  .login-container > form > button {
    background-color: #4285f4;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
  }
  .login-container > form > input {
    height: 30px;
    margin-bottom: 10px;
    background-color: white;
    width: 98%;
    border: none;
    border-bottom: 2px solid gray;
    transition: linear 0.25s;
  }
  .login-container > form > p {
    font-size: 12px;
    margin-top: 15px;
  }
  .login-container > form > input:focus {
    outline: none;
    border-bottom: 2px solid #4285f4;
  }
  .registerButton{
      margin-top: 20px;
  }