.App {
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    font-family: 'Nunito', sans-serif;
}

.name {
    color: green;
}

.imageList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: 0.5s;
    margin: 20px;
    cursor: pointer;

}

.imageList:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px lightgrey;
}
.stateNameinCards{
    color: #1e90ff;
    text-transform: uppercase;
}

.links {
    text-decoration: none;
}

.hello {
    text-align: center;
}

.alertFav {
    position: fixed;
    top: 90%;
    width: 500px;
    z-index: 20;
    left: 50%;
    transform: translate(-50%, -50%);
}

.place__desc {
    font-size: xx-large;
    color: #333;
    text-align: left;
    width: 80%;
}

.place__desc>p {
    font-size: large;
}

.mainHeadings {
    border-left: 10px solid #1e90ff;
    margin-right: 50px;
    text-align: left;

}

.project {
    margin: 30px;
    padding-top: 20px;
    width: 80%;
}

.project_desc {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    font-size: larger;
    border-bottom: 1px solid lightgrey;
    justify-content: space-evenly;
    white-space: pre-wrap;
}

.guide_desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ad{
    border-left: 30px solid #1e90ff;
    border-right: 30px solid #1e90ff;
    text-align: center;
    width: 120%;
}